<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>body {
              background-image: url('https://wallpaperaccess.com/full/3257321.jpg');
        }
       #button{
              position: absolute;
              top: 7px;
              right: 10px;}
     .center{
                  position: absolute;
                  top: 40%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 60vw;
                  background: white;
                  border-radius: 20px;
                }

</style>

</head>
<body>
<h1 class="text-center text-white p2 bg-dark bg-gradient text-uppercase"> Select the quiz of your choice    </h1>
<form action="/">
    <button class="btn btn-outline-light" type="submit" id="button" name="retake">Logout</button><br></form>
<div class="container mt-5 center">
    <br>
    <div class="text-danger">
            {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
            {% for category, message in messages %}
            {{message}}
            {% endfor %}
            {% endif %}
            {% endwith %}
            </div>
<form method="POST" action="/choose">

        <table class="table  table-bordered border-primary  text-center text-capitalize">
        <thead>
        <tr class=" table-active text-uppercase text-primary">
            <th>Name of Quiz</th>
            <th>Score</th>
            <th>Last attended date</th>
            <th>Action</th>
            <th>Certificates</th>
        </tr>
        </thead>
        <tbody class="text-primary">


        {% for row in table %}
        <tr>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}/{{row[1]}}</td>
            <td>{{row[4]}}</td>
            <td> <button class="btn btn-outline-primary" type="submit" name="quiz" value="{{row[2]}}">Take quiz</button></td>
            <td><a href="{{ url_for('certificate', quiz_id=row[0]) }}" target="_blank">
             Download </a></td>
        </tr>

        {% endfor %}
        </tbody>
    </table>

</form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</div>
</body>
</html>